
@import "tailwindcss";


html, body {
  overflow-x: hidden;
}

::-webkit-scrollbar{
  display: none;
}

html {
  scroll-behavior: smooth;
}
 
/* Animation */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee {
  display: flex;
  width: max-content;
  animation: marquee 20s linear infinite;
}
